# ---------------- Python Backend ----------------
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

.env
*.env
!.env.example

# ---------------- Frontend (React / Node) ----------------
ai-hrms-frontend/node_modules/
ai-hrms-frontend/dist/
ai-hrms-frontend/dist-ssr/
ai-hrms-frontend/logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local
*.local.*

# ---------------- Logs ----------------
*.log

# ---------------- IDE / OS ----------------
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
