services:
  redis:
    image: redis:7-alpine
    container_name: hrms_redis
    restart: unless-stopped

  postgres:
    image: postgres:15
    container_name: hrms_postgres
    environment:
      POSTGRES_DB: hrms_vector_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres@123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: hrms_pgadmin
    ports:
      - "8080:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: "False"
    depends_on:
      - postgres
    restart: unless-stopped

  ollama:
    image: ollama/ollama
    container_name: hrms_ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped

  api:
    build: .
    container_name: hrms_api
    command: >
      uvicorn AIHRMS.hrms_ai.main:app
      --host 0.0.0.0
      --port 8000
    volumes:
      - .:/app
      - chroma_data:/app/chroma_db
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      ollama:
        condition: service_started

  celery_worker:
    build: .
    container_name: hrms_celery_worker
    command: >
      celery -A AIHRMS.hrms_ai.celery.celery_app worker -l info
    volumes:
      - .:/app
      - chroma_data:/app/chroma_db
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_started
      postgres:
        condition: service_healthy

  celery_beat:
    build: .
    container_name: hrms_celery_beat
    command: >
      celery -A AIHRMS.hrms_ai.celery.celery_app beat -l info
    volumes:
      - .:/app
      - chroma_data:/app/chroma_db
    env_file:
      - .env
    depends_on:
      - redis
      - postgres

volumes:
  postgres_data:
  ollama_data:
  chroma_data:
